
:root{
   --logo-two-color:#FFFFFF;
   --site-logo-color:#212121;
   --site-logotwo-color:#2196F3;
   --primary-text-color:#212121;
   --site-nav-color:#2196F3;
   --site-background-color:#F5F5F5;
   --site-button-color:#2196F3;
   --site-kontack-color:#2F303A;
   --background-button-color:#F5F4FA;
   --backfocus-button-color:#2196F3;
   --site-buttonon-color:#FFFFFF;
   --site-buttontwo-color:#FFFFFF;
   --background-buttontwo-color:#2196F3;
   --hero-title-color:#FFFFFF;
   --background-hero-color:#2F303A;
   --post-text-color:#757575;
   --footer-text-color:#FFFFFF;
   --background-footer-color:#212121;
   --background-header-color:#FFFFFF;
   --contact-hover-color:#2196F3;
   --contact-focus-color:#2196F3;
   --site-teamback-color:#F5F4FA;
}


body {
   font-family: 'Roboto',sans-serif ;
   background-color:var(--site-background-color);
   color: var(--primary-text-color);
   font-size: 14px;
   letter-spacing: 0.03em;
}
.page-header{
   background-color:var(--background-header-color);
}

/* розмір та колір лого */
.logo-one {
   font-family: 'Raleway',sans-serif;
   font-size: 26px;
   font-weight: 400;
   line-height: 1.2;
   color:var(--site-logo-color);
   
}

/* розмір та колір другої частини лого */
.accent {
   color:var(--site-nav-color);
}

/* колір активної кнопки студія і портфоліо */
.stydio,
.portfolio {
   letter-spacing: 0.02em;
   color:var(--site-button-color);
   color:var(--site-button-color);
}

/*колір навігаціі тексту*/
.site-nav-list,
.kontakt {
   color:var(--site-kontack-color);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

/* розміри навігаціі */
.site-nav-address{
   letter-spacing: 0.02em;
   font-weight: 500;
   line-height: 1.14;
   color:var(--site-kontack-color);

}
.kontakt {
   color: var(--site-kontack-color);
}
.kontakt {
   color: var(--site-kontack-color);
}
.site-nav-list,.kontakt:hover{
   color:var(--site-nav-color);
}
.site-nav-list,
.number{
color:var(--site-kontack-color);
   font-size: 14px;
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
}
/* кнопки в портфоліо */
.filtre-button{
   border-radius: 4px;
   background-color:var(--background-button-color);
   font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;
      line-height:1.6;
      
}
.filtre-button:hover{
   background-color: var(--backfocus-button-color);
      color: var(--site-buttontwo-color);
}
.filtre-button:focus{
background-color:var(--backfocus-button-color);
color:var(--site-buttontwo-color);
}



/* ховер фокус хедер */
.site-nav-address li a:hover {
   color:var(--backfocus-button-color);
}

.site-nav-address li a:focus {
   color:var(--backfocus-button-color);
}


/* герой сторінка студія */
.hero-title {
   color:var(--hero-title-color);
   background-color:var(--background-hero-color);
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
/* кнопка сторінки студія */
.hero-button{
   font-family: 'Roboto',sans-serif;
   background-color:var(--background-buttontwo-color);
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   line-height:1.6;
   letter-spacing: 0.06em;
   text-align: center;
   color:var(--site-buttonon-color);
}
.my-teamback{
   background-color:var(--site-teamback-color);
}

.post-title{
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
      
  
   
}
.post-text{
   color:var(--post-text-color);
   font-size: 14px;
   line-height:1.7;
   letter-spacing: 0.03em;
 
}

.web-work{
   font-weight: 700;
      font-size: 36px;
      text-align: center;
 
}

.my-team{
   font-weight: 700;
      font-size: 36px;
      text-align: center;
}
.team-title{
   font-weight: 500;
      font-size: 16px;
      line-height:1.1;
}
.team-text{
   color:var(--post-text-color);
   font-size: 16px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   
}

.page-footer {
   background-color:var(--background-footer-color);
   color:var(--footer-text-color);
}

.link {
   font-style: normal;
   font-weight: 500;
   line-height: 1.14;
   color:var(--footer-text-color);
}

.logo-two {
   color:var(--logo-two-color);
}



/* ховер фокус футер */
.contact :hover {
   color:var(--contact-hover-color);
}

.contact :focus {
   color:var(--contact-focus-color);
}


a {
   text-decoration: none;
}
ul {
   list-style: none;
}